doctype html
html(lang="en")
   head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      block head
      link(rel="stylesheet" href="../../css/styles.css" type="text/css")
   body
      include ./header.jade
      include ./navigation.jade
      //block content
      //include ./footer.jade
