header.header
   //div.headerLeft
   div.header_logo
      img(src="../images/gerb_spb.jpg")
   div.header_organizationAndName
      div.header_organization
         h2 Комитет по промышленной политике и инновациям Санкт-Петербурга
      div.header_name
         h2 Интерактивная карта промышленных зон города Санкт-Петербурга
   div.header_buttons
      div.header.buttonEntrance
         p Вход
      div.header.buttonRegistration
         p Регистрация