- var navNames = ['Главная', 'О нас', 'Новости', 'Контакты']

nav.navigation
   for name in navNames
      div.navigation_itemsWrapper
         //ul.navigation_items

         .navigation.navigation_item
            a(href= name + '.html')= name