.blockTest
  //position relative
  width 200px
  height 30px
  cursor pointer

.popupBlock
  //position absolute
  //top  50px
  //left 50px
  opacity 0
  width 200px
  height 100px



.blockTest:hover .popupBlock
  opacity 1