.header
  padding 0
  margin 0
  display flex
  align-items flex-end

.header_logo
  flex-basis 10%
  padding 0.5em 0

  img
    margin-left 10%
    height auto
    width 70%

.header_organizationAndName
  flex-basis 80%

.header_buttons
  flex-basis 10%

.buttonEntrance, .buttonRegistration
  margin-right 20%
  p
    cursor pointer
    margin-left auto
