.header
  padding 0
  margin 0
  display flex
  justify-content space-around
  align-items flex-end

.header_logo
  flex-basis 9%
  padding 0.5em 0

  img
    margin-left 10%
    height auto
    width 45%

.header_organizationAndName
  flex-basis 90%

.header_organization, .header_name
  margin-bottom 1%

.header_organization
  h2
    font-weight 100

.header_buttons
  flex-basis 10%
  height auto

.header_buttonEntrance, .header_buttonRegistration
  text-align right
  margin 0 20% 10% 0
  p
    cursor pointer




//input
//  display none
//label
//  cursor pointer
//  color blue
//  text-decoration underline
//  -moz-user-select -moz-none
//  -webkit-user-select none
//  user-select none
//
//.block
//  width 200px
//  height 100px
//  background #369
//  display none
//  text-align center
//  color #fff
//  font bold 1.5em/100px Verdana, Tahoma, sans-serif
//
//input:checked ~ .block
//  display block
//