//.content_blockEntrance
.content_blockEntrance
  position absolute
  background-color #ffffff
  top 50px
  right 1.5%//20px
  width 20%
  box-shadow  0 0 7px rgba(0,0,0,0.5)

.blockEntrance_content
  width 80%
  margin 0 auto
  padding 2% 0
  text-align right

.blockEntrance_enterLogin, .blockEntrance_enterPassword
  margin 3% 0 0 0
  input
    width 100%

.blockEntrance_forgetPassword
  margin 3% 0 0 0
  text-decoration underline
  font-size 80%

  p
    cursor pointer

.blockEntrance_buttonEntrance
  cursor pointer
  width 60%
  margin 3% auto
  text-align center
  background-color #29ABE2
  color #ffffff
  box-shadow  0 0 3px rgba(0,0,0,0.5)
  padding 3% 0
  border-radius 8px

//.content_blockRegistration

.blockRegistration_commonClass
  width 31%
  margin 0 1%
  text-align left
  //position relative
  //z-index 1

  //p
  //  position relative
  //  z-index 2
  //  width 120%

  p
    white-space nowrap

  .pushInput + label
    cursor pointer

  .inputText
    margin-top 2%
    width 85%

.content_blockRegistration
  width 50%
  margin 1% auto
  box-shadow  0 0 7px rgba(0,0,0,0.5)

  .blockRegistration_header
    background-color #29ABE2
    color #ffffff

    .blockRegistration_name
      text-align center

      p
        font-size 3em

  .blockRegistration_wrapperContent
    width 90%
    margin 3% auto

    .blockRegistration_whoAreYou

      .blockRegistration_form,.blockRegistration_document, .blockRegistration_wrapperEmail
        margin-top 2%

        form
          display flex
          width 100%
          justify-content left
          //text-align left

    .blockRegistration_enterYourName, .blockRegistration_passport, .blockRegistration_inn, .blockRegistration_organizationInformation, .blockRegistration_stateExecuterInformation
      margin-top 2%
      display flex
      justify-content left

.blockRegistration_wrapperButtonSend
  padding 3% 0

  .blockRegistration_buttonSend
    cursor pointer
    width 30%
    margin 0 auto
    padding 1.5% 0
    background-color #29ABE2
    box-shadow  0 0 3px rgba(0,0,0,0.7)
    color #ffffff
    text-align center
    border-radius 8px