

.content_blockRegistration
  width 50%
  margin 5% auto
  box-shadow  0 0 7px rgba(0,0,0,0.5)

  .blockRegistration_header
    background-color #00bbfa
    color #ffffff

    .blockRegistration_name
      text-align center

      p
        font-size 3em

  .blockRegistration_wrapperContent
    width 90%
    margin 3% auto

    .blockRegistration_whoAreYou
      text-align center

      //.blockRegistration_form
      //  display flex

    .blockRegistration_enterYourName
      display flex
      justify-content space-around

      .blockRegistration_Surname, .blockRegistration__Name, .blockRegistration_patronymic
        text-align left

