.header
  padding 0
  margin 0
  list-style none
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow: row wrap
  justify-content: space-between //space-around;

//.header_logo, .header_organizationAndName, .header_buttons
//  background #ffffff
//  //padding 5px
//  //width 200px
//  height 100px
//  margin-top 10px
//  line-height 150px
.headerLeft
  height 90px

.header_logo
  display inline-block

.header_organizationAndName
  display inline-block
  .header_organization
    h3
      margin 0
  .header_name
    h2
      margin 0

//.header_logo
//  align-self flex-start
//
//.header_organizationAndName
//  align-self flex-start

//.header_organization
//  font-weight bold
//  //font-size 3em
//  text-align left
//
//.header_name
//  font-weight bold
//  //font-size 3em
//  text-align left

//.header.buttonEntrance
//  p
//    text-align right
//
//.header.buttonRegistration
//  p
//    text-align right

.header_buttons
  //align-content flex-end
  justify-content flex-end

img
  height auto

.navigation
  list-style none
  margin 0
  background deepskyblue
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  justify-content center //flex-end

//.navigation.navigation_item
//  display inline
//.navigation a
.navigation_items
  padding 10 10
.navigation.navigation_item
  a
    text-decoration none
    display block
    color white
    text-align center

.navigation a:hover
  background darken(deepskyblue, 2%)

@media all and (max-width: 800px)
  .navigation
    justify-content space-around

@media all and (max-width: 600px)
  .navigation
    -webkit-flex-flow column wrap
    flex-flow column wrap
    padding 0


  .navigation a
    text-align center
    padding 10px
    border-top 1px solid rgba(255,255,255,0.3)
    border-bottom 1px solid rgba(0,0,0,0.1)



  .navigation li:last-of-type a
    border-bottom none

