//.content_blockSearch
.content_blockSearch
  padding-bottom 3%
  box-shadow  0 3px 4px rgba(0,0,0,0.5)


  .blockSearch_wrapperSearch
    width 40%
    padding 3% 0
    margin 0 auto

  .blockSearch_search
    display flex
    //justify-content center
    //heigth 100px
    //text-align center

    form
      width 70%
      input
        width 100%
        height 100%

    .blockSearch_buttonSearch
      width 30%
      background-color #29ABE2
      .blockSearch_button
        text-align center
        height 100%
        color #ffffff
        cursor pointer

        p
          margin 3% 0

//.content_blockSearch.blockSearch_content
.blockSearch_content
  width 85%
  margin 0 auto
  display flex
  justify-content center

  .blockSearch_column
    width 33%

  .blockSearch_blocks //.blockSearch_priorityArea, .blockSearch_square, .blockSearch_severage, .blockSearch_typeOfUse, .blockSearch_gasification, .blockSearch_heatSupply, .blockSearch_classOfDanger, .blockSearch_waterSupply, .blockSearch_electricitySupply
    background-color rgba(1,1,1,0.05)
    margin 4px 2px
    padding 3%

  .blockSearch_quantity //.blockSearch_quantityOfSquare, .blockSearch_quantityOfSeverage, .blockSearch_quantityOfGas, .blockSearch_quantityOfHeat, .blockSearch_quantityOfWater, .blockSearch_quantityOfElectricity
    margin-top 2%
    p, form
      25%
      display inline-block

  .blockSearch_select,.blockSearch_selectItem
    width 75%
    background-color #ffffff
    margin-top 2%
    border 1px solid #000000
    padding-left 1%

  .blockSearch_select
    cursor pointer

  .blockSearch_selectItem123
    opacity 0
    box-shadow  0 0 7px rgba(0,0,0,0.5)

  .blockSearch_selectText
    //position relative
    display inline-block
    width 90%

  .blockSearch_selectImg
    display inline-block
    width 8%
    text-align right

blockSearch_selectText123:hover+.blockSearch_selectItem123 {
  opacity 1
}
  //z-index 5
  //top 100px

//Content_blockMap
.content_blockMap
  position relative
//.content_map, .content_blockSidebarInformation //.content_sidebar
//  position relative


//.content_map
//This is very bad!
.content_map
  //z-index 1

  canvas
    height 100%
    width 100%

//.content_sidebarInformation
//  position absolute
//  z-index 3
//  top 9%
//  left 8%
//  .sidebar_comment
//    width 100%
//    background-color #ffffff
//    box-shadow  0 0 7px rgba(0,0,0,0.5)
//    margin-bottom 10%
//
//    p
//      padding 0.5%
//      font-size 0.9em
//

//.content_blockSidebar
.content_blockSidebar
  width 100%
  position absolute
  display flex
  //justify-content space-around
  align-items flex-start
  top 5%
  //top 50%
  //z-index 3

  .content_sidebar
    //z-index 2
    width 70px
    margin 0 3%
    box-shadow  0 0 7px rgba(0,0,0,0.5)

    .sidebarButtons
      background-color #ffffff
      //z-index 2
      text-align center

      .sidebar_comment
        //z-index 4
        position absolute
        left 7%
        background-color #ffffff
        box-shadow  0 0 7px rgba(0,0,0,0.5)
        p
          padding 0.5%
          font-size 0.9em

      .angleTop_comment
        top 5%
      .industrialZonesBorders_comment
        top 18%
      .sections_comment
        top 33%
      .redactor_comment
        top 47%
      .trash_comment
        top 62%
      .lineChanging_comment
        top 76%

  //.content_information
  //
  .information_objectName, .information_objectAdress
    //z-index 2
    background-color #ffffff
    box-shadow  0 0 7px rgba(0,0,0,0.5)
    padding 3%
    margin 0 1%

    p
      margin 10px 0

  .information_buttonClose
    text-align right
    padding 0.2% 0.5% 0 0

  .information_wrapperObjectInformation
    width 25%
    background-color #29ABE2
    color #ffffff
    box-shadow  0 0 7px rgba(0,0,0,0.5)
    //padding 0.3%
    margin 0 3% 0 auto

  .information_objectInformation
    padding 0 2% 2% 2%
    //margin-right 25%
    .information_objectInformationArrow
      display inline-block
      width 5%
    .information_objectInformationText
      display inline-block
      width 93%

  .information_list
    background-color #ffffff
    color #000000
    border-bottom 1px solid #000000

    .information_wrapperListNumber
      display inline-block
      vertical-align top
      margin 1% 1%
      width 7%

      .information_listNumber
        font-size 1.5em
        text-align center
        background-color #00bbfa
        color #ffffff
        border-radius 40px

    .information_listContent
      display inline-block
      width 87%
      font-size 0.9em

    .information_listMore
      margin 0 3% 2% 0
      text-align right
      font-size 0.8em

//.Content_objectDescription
.content_objectDescription
  width 90%
  margin 2% auto
  border-bottom 2px solid #000

  .objectDescription_header
    border-bottom 2px solid #000
    padding-left 5%
    font-size 1.5em
    font-weight bold
    margin-bottom 1%

  .objectDescription_itemHeader
    margin-left 5%
    font-weight bold

  .objectDescription_itemContent
    margin 0.5% 0 0.5% 7%

//.objectDescription_buttons
.objectDescription_buttons
  width 35%
  margin 2% auto

.objectDescription_bottomButtons
  display inline-block
  box-shadow  0 0 7px rgba(0,0,0,0.5)
  width 40%
  margin 0 auto
  text-align center
  color #ffffff
  background-color #00bbfa
  border-radius 8px
  p
    margin 3%


//.content_objectDescription - Redactor

.objectDescription_itemContent
  input, p
    display inline-block