.contentSecond
  width 100%
  margin 0 auto
  box-shadow  0 0 7px rgba(0,0,0,0.5)
  //overflow hidden

.blockSearch_wrapperSearch
  width 50%
  padding 3% 0
  margin 0 auto

.blockSearch_search
  display flex
  justify-content center
  //heigth 100px
  text-align center

  form
    width 70%
    input
      width 100%
      height 100%

  .blockSearch_buttonSearch
    width 30%
    ///height 50%
    background-color #00bbfa
    color #ffffff

.blockSearch_content
  width 85%
  margin 0 auto
  display flex
  justify-content center

.blockSearch_columnOne, .blockSearch_columnTwo, .blockSearch_columnThree
  width 33%

.blockSearch_priorityArea, .blockSearch_square, .blockSearch_severage, .blockSearch_typeOfUse, .blockSearch_gasification, .blockSearch_heatSupply, .blockSearch_classOfDanger, .blockSearch_waterSupply, .blockSearch_electricitySupply
  background-color rgba(1,1,1,0.05)
  margin 2px
  padding 2px

.blockSearch_quantityOfSquare, .blockSearch_quantityOfSeverage, .blockSearch_quantityOfGas, .blockSearch_quantityOfHeat, .blockSearch_quantityOfWater, .blockSearch_quantityOfElectricity
  p, form
    25%
    display inline-block