extends ./templates/base_template.jade
block content
    div.content
        div.content_blckEntrance
            div.blockEnrance_WrapperContent
                div.blockEnrance_content
                    div.blockEnrance_enterLogin

                    div.blockEnrance_enterPassword

                    div.blockEnrance_forgetPassword

                    div.blockEnrance_buttonEntrance

        div.content_blockRegistration
            div.blockRegistration_header
                div.blockRegistration_name

                div.blockRegistration_buttonCancel

            div.blockRegistration_wrapperContent
                div.blockRegistration_content
                    div.blockRegistration_whoAreYou

                        div.blockRegistration_person

                            div.blockRegistration_enterYourName

                            div.blockRegistration_document

                            div.blockRegistration_documentData

                        div.blockRegistration_legalEntity

                            div.blockRegistration_organizationInformation

                        div.blockRegistration_stateExecuter

                            div.blockRegistration_staterExecutereInformation

                        div.blockRegistration_email

                        div.blockRegistration_buttonSend