doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block head
        link(rel="stylesheet" href=".../css/style.css" type="text/css")

    body
       ul.flex-container
          li.flex-item 1
          li.flex-item 2
          li.flex-item 3
          li.flex-item 4
          li.flex-item 5
          li.flex-item 6

       div
          p let's go

       div
          p new p for testing
