doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block head
        link(rel="stylesheet" href="../css/styles.css" type="text/css")

    body
        header.header
            div.header_logo
                img(src="../images/gerb_spb.jpg")
            div.header_organizationAndName
                div.header_organization
                    h3 Комитет по промышленной политике и инновациям Санкт-Петербурга
                div.header_name
                    h2 Интерактивная карта промышленных зон города Санкт-Петербурга

            div.header_buttons
                div.header.buttonEntrance
                    p Вход
                div.header.buttonRegistration
                    p Регистрация

        - var navNames = ['Главная', 'О нас', 'Новости', 'Контакты']

        nav.navigation
            for name in navNames
                div.navigation_itemsWrapper
                    ul.navigation_items
                        li.navigation.navigation_item
                            a(href= name + '.html')= name
                                //p name
