extends ./templates/base_template.jade
block content
   div.contentSecond
      div.content_blockSearch
         div.blockSearch_wrapperSearch
            div.blockSearch_search
               form
                  input(type="search" name="search" placeholder="")
                  //input(type="submit" value="Поиск")
               div.blockSearch_buttonSearch
                  div.blockSearch_button
                     p ПОИСК

         div.blockSearch_content
            div.blockSearch_columnOne
               div.blockSearch_priorityArea
                  p Приоритетный район:
                  div.blockSearch_select
                     select
                        option Приоритетные районы(2)
                        option Конная Лахта
                        option Красносельский
                     //form
                     //   input
               div.blockSearch_square
                  p Площадь ЗУ:
                  div.blockSearch_quantityOfSquare
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     vKv
                        p м.кв
               //водоотведение
               div.blockSearch_severage
                  p Водоотведение:
                  div.blockSearch_quantityOfSeverage
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p м.куб./сутки
            div.blockSearch_columnTwo
               div.blockSearch_typeOfUse
                  p Вид разрешенного использования:
                  div.blockSearch_select
                     select
                        option Выберите вид разрешенного использовани
                        option 1
                        option 2
                     //form
                     //   input
               div.blockSearch_gasification
                  p Газоснабжение:
                  div.blockSearch_quantityOfGas
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p м.куб./сутки
               div.blockSearch_heatSupply
                  p Теплоснабжение
                  div.blockSearch_quantityOfHeat
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p Гкал/час

            div.blockSearch_columnThree
               div.blockSearch_classOfDanger
                  p Класс опасности производства:
                  div.blockSearch_select
                     select
                        option Выберите класс опасности производства
                        option 1
                        option 2
                     //form
                     //   input
               div.blockSearch_waterSupply
                  p Водоснабжение:
                  div.blockSearch_quantityOfWater
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p м.куб./сутки
               div.blockSearch_electricitySupply
                  p Электроснабжение
                  div.blockSearch_quantityOfElectricity
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p кВт

      div.content_blockMap

         div.content_map
            canvas


         div.content_blockSidebarInformation
            div.content_sidebar
               div.sidebar_upperButtons
                  div.sidebar_angleTopButton.sidebarButtons
                     img(title="Свернуть панель инструментов" src="../images/angleTop.gif")
                  div.sidebar_industrialZonesBordersButton.sidebarButtons
                     img(src="../images/industrialZonesBorders.gif")
                  div.sidebar_sectionsButton.sidebarButtons
                     img(src="../images/sections.gif")
                  div.sidebar_redactorButton.sidebarButtons
                     img(src="../images/redactor.gif")
                  div.sidebar_trashButton.sidebarButtons
                     img(src="../images/trash.gif")
                  div.sidebar_lineChangingButton.sidebarButtons
                     img(src="../images/lineChanging.gif")
                  //i(class="fa fa-chevron-up" aria-hidden="true")//стрелка вверх
                  //i(class="fa fa-chevron-down" aria-hidden="true")// стрелка вниз
                  //i(class="fa fa-map-marker" aria-hidden="true") // маркер


                  //i(class="fa fa-trash-o" aria-hidden="true")//мусорка

                  //i(class="fa fa-camera" aria-hidden="true")//камера

               div.sidebar_bottomButtons

            //div.content_information
            div.information_objectName
               p Конная Лахта
            div.information_objectAdress
               p СПб, ул. Электропультовцев, д. 7, литера У
            div.information_wrapperObjectInformation
               div.information_buttonClose

               div.information_objectInformation
                  div.information_objectInformationArrow
                  div.information_objectInformationText
                     p Информация о найденных объектах

      div.content_objectDescription
         div.objectDescription_header
            p Подробное описание выбранного обьекта

         div.objectDescription_content
            -var description = [];
            -description.push({name:'Район:', nameContent:'#'});
            -description.push({name:'Адрес:', nameContent:'#'});
            -description.push({name:'Кадастровый номер:', nameContent:'#'});
            -description.push({name:'Вид разрешенного использования:', nameContent:'#'});
            -description.push({name:'Правообладатель:', nameContent:'#'});
            -description.push({name:'Вид деятельности (для участков в частной собственности):', nameContent:'#'});
            -description.push({name:'Основание(для участков в частной собственности):', nameContent:'#'});
            -description.push({name:'Технические возможности подключения:', nameContent:'#'});
            -description.push({name:'Водоснабжение:', nameContent:'#'});
            -description.push({name:'Водоотведение:', nameContent:'#'});
            -description.push({name:'Теплоснабжение:', nameContent:'#'});
            -description.push({name:'Электроснабжение:', nameContent:'#'});
            -description.push({name:'Газоснабжение:', nameContent:'#'});
            -description.push({name:'Градостроительные преобразования:', nameContent:'#'});
            -description.push({name:'Сроки реализации:', nameContent:'#'});

               each item in description

                  div.objectDescription_itemHeader
                     p!= item.name
                  div.objectDescription_itemContent
                     p!= item.nameContent

         div.objectDescription_buttons
            div.objectDescription_buttonReference
               p Заказать справку
            div.objectDescription_Editing
               p Редактировать